In [9]:
#Q1. 

import keyword

all_keywords = keyword.kwlist
print(all_keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#What are the rules to create variables in python?

#case sesnsative - A , a
#valid name 
#cannot start with numberic
#reserved keywords like else if for while

In [ ]:
#What will happen if a keyword is used as a variable name?
#it will result in a syntax error.

In [1]:
if = 10

SyntaxError: invalid syntax (182722112.py, line 1)

In [2]:
#What is the operation of this special character ‘\’?
# in Python is primarily used for escaping characters and creating special sequences within strings.

SyntaxError: unexpected character after line continuation character (2292992405.py, line 4)

In [ ]:
#Q.7. Give an example of the following conditions:
#(i) Homogeneous list
#(ii) Heterogeneous set
#(iii) Homogeneous tuple

In [3]:
#i 
l = [1,2,3,4,5]

In [7]:
l

[1, 2, 3, 4, 5]

In [8]:
#ii   Heterogeneous set
s = {1, 3.4, True, "two"}

In [9]:
s

{1, 3.4, 'two'}

In [11]:
#iii homogeneous tuples
t = ("apple", "banana", "orange")

In [12]:
t

('apple', 'banana', 'orange')

In [13]:
#Q8. Ans - Mutability where be you can do the item reassignment operation or item assign  operation in between the iterable
#immutabilty you cannot do the reaasignment or assign item to operation in between the iterable

#LIST IS MUTABLE ENTITY
# STRING IS IMMUTABLE
# TUPLE ARE IMMUTABLE

In [14]:
#list
l = [1,2,4,5,6,7]

In [16]:
l[2] = ["sudh"]

In [17]:
l

[1, 2, ['sudh'], 5, 6, 7]

In [18]:
# tuple  - Immutable showing error
# if i want to make some changes if it is allowed then its mutable OTHERWISE IT WILL BE UNMUTABLE ENTITY
t = (4,5,6,7, "sudh", 45.67, True)

In [19]:
t[2] = "sudh"

TypeError: 'tuple' object does not support item assignment

In [20]:
#string  is a mutable entity its showing error means it's immutable
s = ("apple", "banana", "orange")

In [22]:
s[apple] = "Vishal"

NameError: name 'apple' is not defined

In [ ]:
"""
Q.9. Write a code to create the given structure using only for loop.
*
***
*****
*******
*********
"""
rows = 5

for i in range(1, rows + 1):
    for j in range(1, 2*i):
        print('*', end='')
    print()

In [ ]:
"""
Q.10. Write a code to create the given structure using while loop.
|||||||||
|||||||
|||||
|||
|
"""
rows = 5

while i in range(1, i + 1):
    while j in range(1, 2*i):
        print('*', end='')
    print()

In [4]:
rows = 5

i = rows
while i >= 1:
    j = 1
    while j <=i:
        print("|", end="")
        j += 1
    print()
    i -= 1

|||||
||||
|||
||
|